.coverages {
  border-radius: 0 100px 0 100px;
  background-color: var(--primary-accent-color);
  color: var(--primary-text-color-light);
  padding-bottom: 90px;
  background: url("../../img/svg/coverage_decore-top-left.svg") no-repeat 0 -23px,
    url("../../img/svg/coverage_decore-bot-left.svg") no-repeat 3% 90%,
    url("../../img/svg/coverage_decore-top-right.svg") no-repeat 95% 8%,
    url("../../img/svg/coverage_decore-bot-right.svg") no-repeat bottom right,
    var(--primary-accent-color);
  position: relative;
  z-index: 4;

  @media (max-width: 1024px) {
    border-radius: 0 80px 0 80px;
    padding-bottom: 50px;
    background: url("../../img/svg/coverage_decore-bot-left.svg") no-repeat 0.5% 85%,
      url("../../img/svg/coverage_decore-top-right.svg") no-repeat 95% 8%,
      url("../../img/svg/coverage_decore-bot-right.svg") no-repeat bottom right/ 35px 65px,
      var(--primary-accent-color);
  }

  @media (max-width: 525px) {
    border-radius: 0 40px 0 40px;
    padding-bottom: 40px;
    background: url("../../img/svg/coverage_decore-top-right.svg") no-repeat 95% 8%/ 120px 131px,
      url("../../img/svg/coverage_decore-bot-right.svg") no-repeat bottom right/ 35px 65px,
      var(--primary-accent-color);
  }

  &__title {
    @media (max-width: 525px) {
      max-width: 263px;
      margin: 0 auto;
    }
  }

  &__slider {
    margin-top: 70px;

    @media (max-width: 1024px) {
      margin-top: 36px;
    }

    @media (max-width: 525px) {
      margin-top: 25px;
    }
  }

  &__card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);

      .coverages__descr {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }

  &__image {
    border-radius: 60px 0 0 0;
    overflow: hidden;
    width: 100%;

    img {
      vertical-align: middle;
    }
  }

  &__descr {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-size: 23px;
    line-height: 28px;
    color: #000000;
    padding: 15px 0 19px 0;
    background-color: #fff;
    transition: 0.2s ease-in-out;

    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 22px;
    }

    span {
      display: block;
    }
  }

  .swiper-slide {
    height: auto;
  }
}
