.footer {
  background-color: var(--black);
  padding-top: 35px;
  padding-bottom: 40px;
  color: var(--primary-text-color-light);

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 80px);
    gap: 20px;
  }

  &__cta {
    grid-column: span 3;
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 13px 30px;
    background-color: var(--primary-accent-color);
    color: var(--primary-text-color-light);
    max-height: 50px;
    max-width: 235px;
  }

  &__privacy {
    grid-column: span 3;
    grid-row: 2;
    align-self: flex-start;
    font-size: 15px;
    line-height: 25px;
    text-decoration: underline;
    color: #c4c4c4;
  }

  &__contacts {
    grid-column: span 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #f4f4f4;
    & span {
      font-weight: 700;
    }
  }

  &__copy {
    grid-column: span 7;
    grid-row: 2;
    text-align: center;
    font-weight: 700;
  }

  &__social {
    grid-column: span 2;
    grid-column-end: -1;
    grid-row: 1;
    max-width: 85px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-height: 35px;
    justify-self: flex-end;

    & a {
      display: block;
    }
  }
}
