.frames {
  background-color: #f8f8f8;
  padding-bottom: 90px;

  &__slider {
    margin-top: 70px;

    @media (max-width: 1024px) {
      margin-top: 40px;
    }

    @media (max-width: 525px) {
      margin-top: 20px;
    }
  }

  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__image {
    width: 100%;
    max-width: 217px;
    max-height: 238px;
    margin: 0 auto;
  }

  &__descr {
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    display: block;
    max-width: 217px;
    padding: 15px 0;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    background-color: #2b2b2b;
    white-space: nowrap;

    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (max-width: 525px) {
      font-size: 17px;
      line-height: 21px;
    }
  }

  &__more {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    padding: 18px 30px;
    max-width: 780px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-accent-color);
    text-align: center;

    & span {
      &:first-child {
        @media (max-width: 575px) {
          display: none;
        }
      }
      &:last-child {
        display: none;

        @media (max-width: 575px) {
          display: inline;
        }
      }
    }
  }
}
