.our-works {
  padding-bottom: 90px;

  @media (max-width: 1024px) {
    padding-bottom: 50px;
  }

  @media (max-width: 525px) {
    padding-bottom: 10px;
  }

  &__slider {
    position: relative;
    margin-top: 70px;
    padding-bottom: 40px;
  }

  &__slide {
    border-radius: 0 50px 0 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    background-color: #C1BFBF;
  }

  &__prev-btn,
  &__next-btn {
    position: absolute;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    background-color: transparent;
    width: 30px;
    height: 30px;
    top: calc(50% - 20px);
    transform: translate(0, -50%);
    z-index: 10;

    svg {
      width: 100%;
      height: 100%;
      fill: #858585;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }


}
