.our-works {
  padding-bottom: 90px;

  @media (max-width: 1024px) {
    padding-bottom: 50px;
  }

  @media (max-width: 525px) {
    padding-bottom: 10px;
  }

  &__slider {
    position: relative;
    margin-top: 70px;
    padding-bottom: 40px;
  }

  &__container {
    position: relative;
    overflow: auto;
  }

  &__slide {
    border-radius: 0 50px 0 0;
    overflow: hidden;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    background-color: #C1BFBF;
  }

  &__prev-btn,
  &__next-btn {
    position: absolute;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    background-color: #000;
    width: 30px;
    height: 30px;
  }

  &__prev-btn {
    left: -50px;
  }

  &__next-btn {
    right: -50px;
  }
}
