.process {
  padding-bottom: 90px;
  &__slider {
    margin-top: 70px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: 0.3s ease-in;

    &:hover {
      transform: scale(1.03);
    }
  }

  img {
    border: none;
    vertical-align: middle;
  }

  &__descr {
    text-align: center;
    max-width: 280px;
    font-size: 20px;
    line-height: 30px;
  }
}
