.icon {
  transition: 0.3s all linear;
  width: 35px;
  height: 35px;

  &--black {
    fill: var(--black);
  }

  &--white {
    fill: var(--primary-text-color-light);
  }

  &:hover {
    fill: var(--primary-accent-color);
  }
}
