.testimonials {
  border-radius: 100px 0 100px 0;
  background-color: var(--primary-accent-color);
  color: var(--primary-text-color-light);
  background: url("../../img/svg/coverage_decore-top-right.svg") no-repeat 33px 27px,
    url("../../img/testimonials_decore-right-top.svg") no-repeat 95% 5%,
    url("../../img/testimonials_decore-right-bottom.svg") no-repeat bottom right,
    var(--primary-accent-color);

  @media (max-width: 1024px) {
    border-radius: 80px 0 80px 0;
  }

  @media (max-width: 525px) {
    border-radius: 40px 0 40px 0;
  }

  &__content {
    padding-bottom: 0px;
    padding-top: 90px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @media (max-width: 1024px) {
      padding-top: 50px;
    }
  }

  &__title {
    grid-row: 1 / 2;
    grid-column: 1 / 13;
    text-align: center;
    margin-bottom: 20px;
  }

  &__picture {
    grid-row: 2 / 5;
    grid-column: 1 / 6;
    padding-right: 22px;

    @media (max-width: 992px) {
      grid-row: 3 / 4;
      grid-column: 1 / 13;
      justify-self: center;
      padding-right: 0;
    }
  }

  &__descr {
    padding-top: 20px;
    grid-row: 2 / 3;
    grid-column: 6 / 13;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    @media (max-width: 1024px) {
      font-size: 16px;
    }

    @media (max-width: 992px) {
      grid-row: 2 / 3;
      grid-column: 1 / 13;
      padding-bottom: 30px;
      padding-top: 0;
    }
  }

  &__img {
    max-width: 463px;
    width: 100%;
    object-fit: contain;
    vertical-align: middle;
  }

  &__button-wrapper {
    padding-top: 40px;
    grid-row: 3 / 4;
    grid-column: 6 / 13;
    width: 100%;
    max-width: 301px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1024px) {
      padding-top: 27px;
    }

    @media (max-width: 992px) {
      grid-row: 4 / 5;
      grid-column: 1 / 13;
      padding-top: 0;
      justify-self: center;
      padding-bottom: 40px;
      max-width: 463px;
    }
  }

  &__button {
    display: block;
    background-color: #000;
    padding: 18px 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;


    @media (max-width: 525px) {
      font-size: 17px;
      line-height: 21px;
    }
  }
}
