<section class="calcform">
  <div class="calcform__content section-offset container">
    <p class="calcform__delivery-title">Доставка:</p>
    <form class="calcform__form">
      <label>
        <input
          class="input-reset calcform__form-input"
          type="text"
          placeholder="Ваше имя"
        />
      </label>
      <label>
        <input
          class="input-reset calcform__form-input"
          type="email"
          placeholder="Ваш e-mail"
        />
      </label>
      <label>
        <input
          inputmode="numeric"
          class="input-reset calcform__form-input"
          type="tel"
          placeholder="Ваш телефон"
        />
      </label>
      <p class="calcform__form-summary">
        Итоговая стоимость заказа: <span>0 руб.</span>
      </p>
      <button class="btn-reset calcform__form-button" type="button">
        Оформить заказ
      </button>
      <button
        class="btn-reset calcform__form-button calcform__form-button--white"
        type="button"
      >
        Параметры заказа
      </button>
    </form>
    <div class="calcform__delivery-details">
      <div class="calcform__select">
        <select class="select-reset calcform__form-input calcform__form-select">
          <option value="Самовывоз" selected>Самовывоз</option>
          <option value="Доставка 1">Доставка 1</option>
          <option value="Доставка 2">Доставка 2</option>
        </select>
        <img
          loading="lazy"
          src="../img/chevron_for_select.svg"
          class="image"
          width="16"
          height="16"
          alt="шеврон"
        />
      </div>
      <p class="calcform__adress-title">Адрес самовывоза:</p>
      <p class="calcform__adress">
        Москва, МКАД 23 км. внешняя сторона владение 3.
      </p>
      <p class="calcform__phone-title">Телефон:</p>
      <a href="tel:+79939211596" class="calcform__phone">+7 (993) 921-15-96</a>
      <label>
        <input type="checkbox" class="calcform__form-privacy" />
        Нажимая кнопку, даю согласие на обработку своих персональных данных,
        принимаю условия политики и пользовательского соглашения
      </label>
    </div>
  </div>
</section>
