<section class="calc">
  <div class="calc__content section-offset container">
    <h2 class="section-title calc__title">
      Калькулятор печати на холсте - <br />
      узнайте цену мгновенно!
    </h2>
    <div class="calc__options">
      <div class="calc__options-left">
        <!-- Ориентация холста -->
        <p class="calc__option-title">Ориентация холста:</p>
        <div class="calc__option-vars">
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Альбомная"
              name="orientation"
            />
            <span>Альбомная</span>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Портретная"
              name="orientation"
            />
            <span>Портретная</span>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Квадратная"
              name="orientation"
            />
            <span>Квадратная</span>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Панорамная"
              name="orientation"
            />
            <span>Панорамная</span>
          </label>
        </div>
        <!-- Ориентация холста -->
        <!-- Размер холста -->
        <p class="calc__option-title">Размер холста, см:</p>
        <div class="calc__option-vars">
          <div class="custom-select calc__fake-select">
            <p>Выбрать размер</p>
            <img
              loading="lazy"
              src="../img/chevron_for_select.svg"
              class="image"
              width="16"
              height="16"
              alt="шеврон"
            />
          </div>
          <div class="calc__select">
            <label>
              <input
                type="radio"
                class="calc__option-variant"
                value="30x20"
                name="size"
                data-price="1000"
              />
              <span>30x20</span>
            </label>
            <label>
              <input
                type="radio"
                class="calc__option-variant"
                value="40x30"
                name="size"
                data-price="1300"
              />
              <span>40x30</span>
            </label>
            <label>
              <input
                type="radio"
                class="calc__option-variant"
                value="45x30"
                name="size"
                data-price="1400"
              />
              <span>45x30</span>
            </label>
            <label>
              <input
                type="radio"
                class="calc__option-variant"
                value="50x40"
                name="size"
                data-price="1600"
              />
              <span>50x40</span>
            </label>
            <label>
              <input
                type="radio"
                class="calc__option-variant"
                value="60x40"
                name="size"
                data-price="1800"
              />
              <span>60x40</span>
            </label>
            <label>
              <input
                type="radio"
                class="calc__option-variant"
                value="60x50"
                name="size"
                data-price="2000"
              />
              <span>60x50</span>
            </label>
            <label>
              <input
                type="radio"
                class="calc__option-variant"
                value="70x50"
                name="size"
                data-price="2200"
              />
              <span>70x50</span>
            </label>
            <label>
              <input
                type="radio"
                class="calc__option-variant"
                value="75x50"
                name="size"
                data-price="2300"
              />
              <span>75x50</span>
            </label>
            <label>
              <input
                type="radio"
                class="calc__option-variant"
                value="80x60"
                name="size"
                data-price="2600"
              />
              <span>80x60</span>
            </label>
            <label>
              <input
                type="radio"
                class="calc__option-variant"
                value="90x60"
                name="size"
                data-price="2900"
              />
              <span>90x60</span>
            </label>
            <label>
              <input
                type="radio"
                class="calc__option-variant"
                value="100x70"
                name="size"
                data-price="3300"
              />
              <span>100x70</span>
            </label>
            <label>
              <input
                type="radio"
                class="calc__option-variant"
                value="120x80"
                name="size"
                data-price="4400"
              />
              <span>120x80</span>
            </label>
          </div>
        </div>
        <!-- Размер холста select-->
        <!-- Размер холста select-->
        <div class="calc__option-vars">
          <p>Задать свой размер:</p>
          <div class="calc__custom-inputs">
            <input type="number" class="width" />
            x
            <input type="number" class="height" />
          </div>
        </div>
        <!-- Размер холста -->
        <!-- Вид натяжки -->
        <p class="calc__option-title">Вид натяжки:</p>
        <div class="calc__option-vars">
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Обычная (2 см)"
              name="stretch"
            />
            <span>Обычная (2 см)</span>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Галерейная 2 (см)"
              name="stretch"
            />
            <span>Галерейная 2 (см)</span>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Студийная (4 см)"
              name="stretch"
            />
            <span>Студийная (4 см)</span>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Галерейная (4 см)"
              name="stretch"
            />
            <span>Галерейная (4 см)</span>
          </label>
        </div>
        <!-- Вид натяжки -->
        <!-- Подвесная система -->
        <p class="calc__option-title">Подвесная система:</p>
        <div class="calc__option-vars">
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Зубчатая подвеска"
              name="suspend"
            />
            <span>Зубчатая подвеска</span>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Стальной тросик"
              name="suspend"
            />
            <span>Стальной тросик</span>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Без подвеса"
              name="suspend"
            />
            <span>Не нужно</span>
          </label>
        </div>
        <!-- Подвесная система -->
        <!-- Покрытие холста -->
        <p class="calc__option-title">Покрытие холста:</p>
        <div class="calc__option-vars">
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Лаком"
              name="coverage"
              data-price="1000"
            />
            <span>Лаком</span>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Текстурным гелем"
              name="coverage"
              data-price="3400"
            />
            <span>Текстурным гелем</span>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Акриловой краской"
              name="coverage"
              data-price="0"
            />
            <span>Акриловой краской</span>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Без покрытия"
              name="coverage"
              data-price="0"
            />
            <span>Не нужно</span>
          </label>
        </div>

        <!-- Покрытие холста -->
        <!-- оформление в багет -->
        <p class="calc__option-title">Покрытие холста:</p>
        <div class="calc__option-vars calc__frames">
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="0818-52"
              name="frame"
              data-price="690"
            />
            <picture>
              <source srcset="img/frames/1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/frames/1.jpg"
                class="image"
                alt="пример багета"
              />
            </picture>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="4535-01"
              name="frame"
              data-price="840"
            />
            <picture>
              <source srcset="img/frames/2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/frames/2.jpg"
                class="image"
                alt="пример багета"
              />
            </picture>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="4535-03"
              name="frame"
              data-price="795"
            />
            <picture>
              <source srcset="img/frames/4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/frames/4.jpg"
                class="image"
                alt="пример багета"
              />
            </picture>
          </label>
          <label>
            <input
              type="radio"
              class="calc__option-variant"
              value="Без багета"
              name="frame"
              data-price="0"
            />
            <span>Не нужно</span>
          </label>
        </div>

        <!-- оформление в багет -->
        <!-- Дизайнерская обработка -->
        <p class="calc__option-title">Дизайнерская обработка::</p>
        <div class="calc__option-vars">
          <div class="sizes__format-select calc__design-select">
            <select class="select-reset custom-select" name="design">
              <option value="Обработка не нужна" data-price="0">
                Обработка не нужна
              </option>
              <option value="Поп-арт" data-price="1500">Поп-арт</option>
              <option value="Дрим-арт" data-price="1500">Дрим-арт</option>
              <option value="Коллаж" data-price="500">Коллаж</option>
              <option value="Фотомозайка" data-price="1000">Фотомозайка</option>
              <option value="Шарж" data-price="1500">Шарж</option>
              <option value="В стилe Love is..." data-price="500">
                В стилe Love is...
              </option>
              <option value="Аниме" data-price="1500">Аниме</option>
              <option value="Портрет из слов" data-price="1500">
                Портрет из слов
              </option>
              <option value="Digital art" data-price="1500">Digital art</option>
              <option value="В образе" data-price="1500">В образе</option>
              <option value="Гранж" data-price="1500">Гранж</option>
            </select>
            <img
              loading="lazy"
              src="../img/chevron_for_select.svg"
              class="image"
              width="16"
              height="16"
              alt="шеврон"
            />
          </div>
        </div>
        <!-- Упаковка -->
        <p class="calc__option-title">Упаковка:</p>
        <div class="calc__option-vars">
          <label class="calc__option--wide">
            <input
              type="radio"
              class="calc__option-variant"
              value="Крафтовая бумага"
              name="wrap"
            />
            <span>Крафтовая бумага</span>
          </label>
          <label class="calc__option--wide">
            <input
              type="radio"
              class="calc__option-variant"
              value="Подарочная бумага"
              name="wrap"
            />
            <span>Подарочная бумага</span>
          </label>
          <label class="calc__option--wide">
            <input
              type="radio"
              class="calc__option-variant"
              value="Стрейч пленка"
              name="wrap"
            />
            <span>Стрейч пленка</span>
          </label>
          <label class="calc__option--wide">
            <input
              type="radio"
              class="calc__option-variant"
              value="Черная стрейч пленка"
              name="wrap"
            />
            <span>Черная стрейч пленка</span>
          </label>
        </div>
        <!-- Упаковка -->
      </div>
      <div class="calc__options-right">
        <div class="calc__options-wrapper">
          <div class="calc__option-demo">
            <p class="calc__option-title calc__option-title--demo">
              Параметры заказа
            </p>
            <div class="calc__option-row" data-name="orientation">
              <p class="calc__option-sub calc__option-sub--first">
                Ориентация холста:
              </p>
              <p class="calc__option-descr calc__option-descr--first">
                Не выбрано
              </p>
            </div>
            <div class="calc__option-row" data-name="size">
              <p class="calc__option-sub">Размер холста, см:</p>
              <p class="calc__option-descr">Не выбрано</p>
            </div>
            <div class="calc__option-row" data-name="stretch">
              <p class="calc__option-sub">Вид натяжки:</p>
              <p class="calc__option-descr">Не выбрано</p>
            </div>
            <div class="calc__option-row" data-name="suspend">
              <p class="calc__option-sub">Подвесная система:</p>
              <p class="calc__option-descr">Не выбрано</p>
            </div>
            <div class="calc__option-row" data-name="coverage">
              <p class="calc__option-sub">Покрытие холста:</p>
              <p class="calc__option-descr">Не выбрано</p>
            </div>
            <div class="calc__option-row" data-name="frame">
              <p class="calc__option-sub">Оформление в багет:</p>
              <p class="calc__option-descr">Не выбрано</p>
            </div>
            <div class="calc__option-row" data-name="design">
              <p class="calc__option-sub">Дизайнерская обработка:</p>
              <p class="calc__option-descr">Не выбрано</p>
            </div>
            <div class="calc__option-row" data-name="wrap">
              <p class="calc__option-sub">Упаковка:</p>
              <p class="calc__option-descr">Не выбрано</p>
            </div>
            <div class="calc__option-row" data-name="file">
              <p class="calc__option-sub">Изображение:</p>
              <p class="calc__option-descr">Не выбрано</p>
            </div>
            <div class="calc__option-row" data-name="order">
              <p class="calc__option-sub">Срок изготовления:</p>
              <p class="calc__option-descr">1-2 рабочих дня</p>
            </div>
            <div class="calc__option-row" data-name="total">
              <p class="calc__option-sub calc__option-sub--total">
                Итоговая стоимость холста:
              </p>
              <p class="calc__option-descr calc__option-descr--total">0 руб.</p>
            </div>
            <button
              class="btn-reset calcform__form-button calcform__form-button--close"
              type="button"
            >
              Понятно
            </button>
          </div>
        </div>
      </div>
      <div class="calc__option-addition">
        <p class="calc__option-title">Дополнительная информация:</p>
        <textarea
          cols="30"
          rows="10"
          placeholder="Напишите комментарий"
        ></textarea>
        <div class="calc__file-input">
          <p class="calc__option-title">Загрузите файл</p>
          <label class="calc__file">
            <input type="file" name="file" />
            <span>Выбрать файл</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</section>
