<section class="coverages">
  <div class="coverages__content section-offset container">
    <h2 class="section-title coverages__title">Виды покрытия холста</h2>
    <div class="coverages__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="coverages__card">
            <div class="coverages__image">
              <picture>
                <source srcset="img/lackuer.webp" type="image/webp" />
                <img
                  src="img/lackuer.jpg"
                  class="image"
                  alt="Идея"
                />
              </picture>
            </div>
            <a href="#" class="coverages__descr"
              >Покрытие матовым лаком <span> Подробнее</span></a
            >
          </div>
        </div>
        <div class="swiper-slide">
          <div class="coverages__card">
            <div class="coverages__image">
              <picture>
                <source srcset="img/gel.webp" type="image/webp" />
                <img
                  src="img/gel.jpg"
                  class="image"
                  alt="Идея"
                />
              </picture>
            </div>
            <a href="#" class="coverages__descr"
              >Покрытие текстурным гелем <span>Подробнее</span></a
            >
          </div>
        </div>
        <div class="swiper-slide">
          <div class="coverages__card">
            <div class="coverages__image">
              <picture>
                <source srcset="img/acrylic.webp" type="image/webp" />
                <img
                  src="img/acrylic.jpg"
                  class="image"
                  alt="Идея"
                />
              </picture>
            </div>
            <a href="#" class="coverages__descr"
              >Покрытие акриловой краской <span>Подробнее</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
