<form
  class="test-form"
  style="position: fixed; z-index: 9999; top: 0; background-color: #fff"
>
  ВТОРОЙ КАЛЬКУЛЯТОР:
  <input type="text" class="test-form__orientation" />
  <input type="text" class="test-form__size" />
  <input type="text" class="test-form__stretch" />
  <input type="text" class="test-form__suspend" />
  <input type="text" class="test-form__coverage" />
  <input type="text" class="test-form__frame" />
  <input type="text" class="test-form__design" />
  <input type="text" class="test-form__additional" />
  <input type="text" class="test-form__wrap" />
  <input type="file" class="test-form__file" />
  <input type="text" class="test-form__total" />
  <input type="text" class="test-form__name" />
  <input type="text" class="test-form__email" />
  <input type="text" class="test-form__phone" />
  <input type="text" class="test-form__delivery-way" />
</form>
