<footer class="footer">
  <div class="footer__content container">
    <button class="btn-reset footer__cta pop-up__button">
      Заказать звонок
    </button>
    <a href="#" class="footer__privacy">Политика конфиденциальности</a>
    <div class="footer__contacts">
      <p class="footer__address">
        <span>Адрес производства:</span> Москва, МКАД 23 км. внешняя сторона
        владение 3.
      </p>
      <p class="footer__contacts-title"><span>Пункт выдачи:</span></p>
      <p class="footer__delivery"><span>Email: </span>zakaz@holst-na-zakaz.ru</p>
      <p class="footer__delivery"><span>График работы: </span>Круглосуточно</p>
      <p class="footer__delivery"><span>Телефон: </span> +7 (993) 921-15-96</p>
    </div>
    <p class="footer__copy">(с) Печать на холстах 2023</p>
    <div class="footer__social">
      <a href="#">
        <svg class="icon icon--white">
          <use xlink:href="img/sprite.svg#whatsapp_icon-final"></use>
        </svg>
      </a>
      <a href="#">
        <svg class="icon icon--white">
          <use xlink:href="img/sprite.svg#tg_icon-final"></use>
        </svg>
      </a>
      <a href="#">
        <svg class="icon icon--white">
          <use xlink:href="img/sprite.svg#vk_icon-final"></use>
        </svg>
      </a>
      <a href="#">
        <svg class="icon icon--white">
          <use xlink:href="img/sprite.svg#inst_icon-final"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
