<section class="frames">
  <div class="frames__content section-offset container">
    <h2 class="section-title frames__title">Виды багетных рам</h2>
    <div class="frames__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="frames__card">
            <picture>
              <source srcset="img/frames/1.webp" type="image/webp" />
              <img
                src="img/frames/1.jpg"
                class="frames__image"
                alt="Виды багетных рам"
                data-art="4535-03"
                data-price="870"
              />
            </picture>
            <a href="#" class="frames__descr">Описание багета</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="frames__card">
            <picture>
              <source srcset="img/frames/2.webp" type="image/webp" />
              <img
                src="img/frames/2.jpg"
                class="frames__image"
                alt="Виды багетных рам"
                data-art="4535-04"
                data-price="780"
              />
            </picture>
            <a href="#" class="frames__descr">Описание багета</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="frames__card">
            <picture>
              <source srcset="img/frames/3.webp" type="image/webp" />
              <img
                src="img/frames/3.jpg"
                class="frames__image"
                alt="Виды багетных рам"
                data-art="4535-05"
                data-price="780"
              />
            </picture>
            <a href="#" class="frames__descr">Описание багета</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="frames__card">
            <picture>
              <source srcset="img/frames/4.webp" type="image/webp" />
              <img
                src="img/frames/4.jpg"
                class="frames__image"
                alt="Виды багетных рам"
                data-art="1823-01"
                data-price="685"
              />
            </picture>
            <a href="#" class="frames__descr">Описание багета</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="frames__card">
            <picture>
              <source srcset="img/frames/5.webp" type="image/webp" />
              <img
                src="img/frames/5.jpg"
                class="frames__image"
                alt="Виды багетных рам"
                data-art="2823-01"
                data-price="490"
              />
            </picture>
            <a href="#" class="frames__descr">Описание багета</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="frames__card">
            <picture>
              <source srcset="img/frames/6.webp" type="image/webp" />
              <img
                src="img/frames/6.jpg"
                class="frames__image"
                alt="Виды багетных рам"
                data-art="1323-01"
                data-price="980"
              />
            </picture>
            <a href="#" class="frames__descr">Описание багета</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="frames__card">
            <picture>
              <source srcset="img/frames/7.webp" type="image/webp" />
              <img
                src="img/frames/7.jpg"
                class="frames__image"
                alt="Виды багетных рам"
                data-art="1883-01"
                data-price="990"
              />
            </picture>
            <a href="#" class="frames__descr">Описание багета</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="frames__card">
            <picture>
              <source srcset="img/frames/8.webp" type="image/webp" />
              <img
                src="img/frames/8.jpg"
                class="frames__image"
                alt="Виды багетных рам"
                data-art="3333-01"
                data-price="750"
              />
            </picture>
            <a href="#" class="frames__descr">Описание багета</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="frames__card">
            <picture>
              <source srcset="img/frames/9.webp" type="image/webp" />
              <img
                src="img/frames/9.jpg"
                class="frames__image"
                alt="Виды багетных рам"
                data-art="5423-01"
                data-price="890"
              />
            </picture>
            <a href="#" class="frames__descr">Описание багета</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="frames__card">
            <picture>
              <source srcset="img/frames/10.webp" type="image/webp" />
              <img
                src="img/frames/10.jpg"
                class="frames__image"
                alt="Виды багетных рам"
                data-art="12423-01"
                data-price="895"
              />
            </picture>
            <a href="#" class="frames__descr">Описание багета</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="frames__more"
      ><span>Посмотреть полный список багетных рам</span
      ><span>Показать еще</span></a
    >
  </div>
</section>
