<header class="header">
  <div class="header__content container">
    <a href="#" class="header__logo"
      ><img
        src="../img/company_logo.svg"
        class="image"
        alt="Логототип компании"
    /></a>
    <a href="tel:+79939211596" class="header__phone">+7 (993) 921-15-96</a>
    <nav class="nav header__navigation" title="Навигация">
      <ul class="list-reset nav__list header__nav">
        <li class="nav__item header__nav-item header__nav-item--active">
          <a href="#" class="nav__link">Цены</a>
        </li>
        <li class="nav__item header__nav-item">
          <a href="#" class="nav__link">Доставка</a>
        </li>
        <li class="nav__item header__nav-item">
          <a href="#" class="nav__link">Галерея</a>
        </li>
        <li class="nav__item header__nav-item">
          <a href="#" class="nav__link">О нас</a>
        </li>
        <li class="nav__item header__nav-item">
          <a href="#" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="header__contacts" title="Социальные сети">
      <a href="#" class="header__contacts-link" title="Whatsapp">
        <svg class="icon icon--black">
          <use xlink:href="img/sprite.svg#whatsapp_icon-final"></use>
        </svg>
      </a>
      <a href="#" class="header__contacts-link" title="Telegram">
        <svg class="icon icon--black">
          <use xlink:href="img/sprite.svg#tg_icon-final"></use>
        </svg>
      </a>
    </div>
    <!-- бургер меню -->
    <div class="burger">
      <div class="burger__item"></div>
      <div class="burger__item"></div>
      <div class="burger__item"></div>
    </div>
    <!-- бургер меню -->
    <!-- мобильное меню -->
    <div class="mobile-menu">
      <div class="mobile-menu__wrapper">
        <div class="mobile-menu__header">
          <div class="mobile-menu__close">
            <img
              src="../img/svg/close_icon.svg"
              alt="иконка закрытия меню"
              width="20"
              height="20"
            />
          </div>
          <a href="tel:+79939211596" class="mobile-menu__call">
            <img
              loading="lazy"
              src="../img/call_icon.svg"
              class="image"
              width="32"
              height="32"
              alt="иконка социальной сети"
            />
          </a>
        </div>
        <div class="mobile-menu__body">
          <nav class="nav" title="Навигация">
            <ul class="list-reset nav__list mobile-menu__nav">
              <li class="nav__item mobile-menu__nav-link">
                <a href="#" class="nav__link">Цены</a>
              </li>
              <li class="nav__item mobile-menu__nav-link">
                <a href="#" class="nav__link">Доставка</a>
              </li>
              <li class="nav__item mobile-menu__nav-link">
                <a href="#" class="nav__link">Галерея</a>
              </li>
              <li class="nav__item mobile-menu__nav-link">
                <a href="#" class="nav__link">Контакты</a>
              </li>
              <li class="nav__item mobile-menu__nav-link">
                <a href="#" class="nav__link">О нас</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mobile-menu__footer">
          <div class="mobile-menu__contacts">
            <a href="#" class="mobile-menu__contacts-link">
              <img
                src="../img/blueprints/wa-mobile.svg"
                class="image"
                alt="иконка социальной сети"
              />
            </a>
            <a href="#" class="mobile-menu__contacts-link">
              <img
                src="../img/blueprints/tg-mobile.svg"
                class="image"
                alt="иконка социальной сети"
              />
            </a>
            <a href="#" class="mobile-menu__contacts-link">
              <img
                src="../img/blueprints/vk-mobile.svg"
                class="image"
                alt="иконка социальной сети"
              />
            </a>
            <a href="#" class="mobile-menu__contacts-link">
              <img
                src="../img/blueprints/tg-mobile.svg"
                class="image"
                alt="иконка социальной сети"
              />
            </a>
          </div>
          <a href="tel:+79939211596" class="mobile-menu__phone"
            >+7 (993) 921-15-96</a
          >
        </div>
      </div>
    </div>
    <!-- мобильное меню -->
  </div>
</header>
