<section class="hero">
  <picture>
    <source srcset="./img/hero.webp" type="image/webp" />
    <source srcset="./img/hero.jpg" type="image/jpeg" />
    <img loading="lazy" src="./img/hero.jpg" class="hero__image" alt="" />
  </picture>
  <div class="hero__content container">
    <h1 class="section-title hero__title">
      Печать на холстах по <br />
      фотографии
    </h1>
    <div class="hero__descr">
      <p>Цена от 1600 руб.</p>
      <p>Изготовим за 1 день</p>
      <p>Оплата при получении</p>
      <p>Доставка по всей России</p>
    </div>
    <button class="btn-reset hero__button">Узнать цену</button>
  </div>
</section>
