<section class="hero">
  <picture>
    <source srcset="./img/hero.webp" type="image/webp" />
    <source srcset="./img/hero.jpg" type="image/jpeg" />
    <img src="./img/hero.jpg" class="hero__image" alt="hero background" />
  </picture>
  <div class="hero__content container">
    <h1
      class="section-title hero__title"
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-delay="50"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      Печать на холстах по <br />
      фотографии
    </h1>
    <div class="hero__descr">
      <p
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="150"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        Цена от 1600 руб.
      </p>
      <p
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="250"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        Изготовим за 1 день
      </p>
      <p
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="350"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        Оплата при получении
      </p>
      <p
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="450"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        Доставка по всей России
      </p>
    </div>
    <button
      class="btn-reset hero__button pop-up__button"
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-delay="550"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      Узнать цену
    </button>
  </div>
</section>
