<section class="ideas">
  <div class="ideas__content section-offset container">
    <h2 class="section-title ideas__title">Идеи для обработки картин</h2>
    <div class="ideas__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide ideas__slide">
          <div class="ideas__card">
            <div class="ideas__image">
              <picture>
                <source srcset="img/first-idea.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/first-idea.jpg"
                  class="image"
                  alt="Идея"
                />
              </picture>
            </div>
            <p class="ideas__descr">Название идеи</p>
          </div>
        </div>
        <div class="swiper-slide ideas__slide">
          <div class="ideas__card">
            <div class="ideas__image">
              <picture>
                <source srcset="img/first-idea.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/first-idea.jpg"
                  class="image"
                  alt="Идея"
                />
              </picture>
            </div>
            <p class="ideas__descr">Название идеи</p>
          </div>
        </div>
        <div class="swiper-slide ideas__slide">
          <div class="ideas__card">
            <div class="ideas__image">
              <picture>
                <source srcset="img/second-idea.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/second-idea.jpg"
                  class="image"
                  alt="Идея"
                />
              </picture>
            </div>
            <p class="ideas__descr">Название идеи</p>
          </div>
        </div>
        <div class="swiper-slide ideas__slide">
          <div class="ideas__card">
            <div class="ideas__image">
              <picture>
                <source srcset="img/first-idea.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/first-idea.jpg"
                  class="image"
                  alt="Идея"
                />
              </picture>
            </div>
            <p class="ideas__descr">Название идеи</p>
          </div>
        </div>
        <div class="swiper-slide ideas__slide">
          <div class="ideas__card">
            <div class="ideas__image">
              <picture>
                <source srcset="img/third-idea.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/third-idea.jpg"
                  class="image"
                  alt="Идея"
                />
              </picture>
            </div>
            <p class="ideas__descr">Название идеи</p>
          </div>
        </div>
        <div class="swiper-slide ideas__slide">
          <div class="ideas__card">
            <div class="ideas__image">
              <picture>
                <source srcset="img/first-idea.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/first-idea.jpg"
                  class="image"
                  alt="Идея"
                />
              </picture>
            </div>
            <p class="ideas__descr">Название идеи</p>
          </div>
        </div>
        <div class="swiper-slide ideas__slide">
          <div class="ideas__card">
            <div class="ideas__image">
              <picture>
                <source srcset="img/fourth-idea.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/fourth-idea.jpg"
                  class="image"
                  alt="Идея"
                />
              </picture>
            </div>
            <p class="ideas__descr">Название идеи</p>
          </div>
        </div>
        <div class="swiper-slide ideas__slide">
          <div class="ideas__card">
            <div class="ideas__image">
              <picture>
                <source srcset="img/first-idea.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/first-idea.jpg"
                  class="image"
                  alt="Идея"
                />
              </picture>
            </div>
            <p class="ideas__descr">Название идеи</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
