<!-- modal -->
<div class="pop-up">
  <img
    loading="lazy"
    src="../img/svg/close_icon.svg"
    class="pop-up__close-icon"
    width="15"
    height="15"
    alt="close_icon"
  />
  <form class="pop-up__form">
    <label>
      <input
        class="input-reset pop-up__form-input name pop-up__form-name"
        type="text"
        placeholder="Введите имя"
      />
    </label>
    <label>
      <input
        inputmode="numeric"
        class="input-reset pop-up__form-input pop-up__form-tel"
        type="tel"
        placeholder="Введите телефон"
      />
    </label>
    <p class="pop-up__form-summary">
      Итоговая стоимость заказа: <span>0 руб.</span>
    </p>
    <button class="btn-reset pop-up__form-button" type="submit">
      Оформить заказ
    </button>
  </form>
</div>
<!-- modal -->
