<section class="process">
  <div class="process__content section-offset container">
    <h2 class="section-title process__title">Процесс заказа</h2>
    <div class="process__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="process__card">
            <img
              src="../img/svg/step_1.svg"
              alt="."
              class="image"
              width="90"
              height="90"
            />
            <p class="process__descr">Загрузите качественное изображение</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="process__card">
            <img
              src="../img/svg/step_2.svg"
              alt="."
              class="image"
              width="90"
              height="90"
            />
            <p class="process__descr">
              Укажите желаемый размер, тип холста и <br />
              толщину подрамника
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="process__card">
            <img
              src="../img/svg/step_3.svg"
              alt="."
              class="image"
              width="90"
              height="90"
            />
            <p class="process__descr">
              Подберите тип дизайна: от замены фона до <br />
              сложной арт стилизации
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="process__card">
            <img
              src="../img/svg/step_4.svg"
              alt="."
              class="image"
              width="90"
              height="90"
            />
            <p class="process__descr">
              Через 1-2 рабочих дня ваш заказ готов к самовывозу или доставке
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
