<section class="sizes">
  <div class="sizes-content container section-offset">
    <h2 class="section-title sizes__title">Размеры и цены</h2>
    <div class="sizes__descr">
      <p>
        Вы можете выбрать из 25 стандартных размеров, отсортированных по типу
        ориентации или сделать заказ по своим размерам. Для печати мы используем
        плоттер Canon image PROGRAF iPF9400 и дополнительное оборудование, такое
        как станок для скрепления углов рам U-200 и гильотина Morso H. Цена
        включает печать на качественном хлопковом холсте, подрамник и натяжку
        холста на него.
      </p>
    </div>
  </div>
  <div class="sizes__calc">
    <div class="sizes__calc-content container">
      <div class="sizes__format">
        <p class="sizes__format-title">Укажите формат</p>
        <div class="sizes__format-variants">
          <p class="sizes__format-variant" data-base="900">Альбомный</p>
          <p class="sizes__format-variant" data-base="1000">Портретный</p>
          <p class="sizes__format-variant" data-base="1200">Панорамный</p>
          <p class="sizes__format-variant" data-base="1500">Квадратный</p>
        </div>
        <div class="sizes__format-select">
          <select class="select-reset custom-select">
            <option value="1">Выберите размер</option>
            <option value="1.1">40x30</option>
            <option value="1.2">45x30</option>
            <option value="1.3">50x40</option>
            <option value="1.4">60x40</option>
            <option value="1.5">60x50</option>
            <option value="1.6">70x50</option>
            <option value="1.7">75x50</option>
            <option value="1.8">80x60</option>
            <option value="1.9">90x60</option>
            <option value="2">100x70</option>
            <option value="2.1">120x80</option>
            <option value="2.2">30x30</option>
            <option value="2.3">40x40</option>
            <option value="2.4">50x50</option>
            <option value="2.5">60x60</option>
            <option value="2.6">80x80</option>
            <option value="2.7">100x100</option>
            <option value="2.8">30x90</option>
            <option value="2.9">40x100</option>
            <option value="3">40x120</option>
          </select>
          <img
            loading="lazy"
            src="../img/chevron_for_select.svg"
            class="image"
            width="16"
            height="16"
            alt="шеврон"
          />
        </div>
        <p class="sizes__format-final pop-up__button">0 руб.</p>
      </div>
      <div class="sizes__variants">
        <p class="sizes__variants-item" data-multiplier="1.1">40x30</p>
        <p class="sizes__variants-item" data-multiplier="1.2">45x30</p>
        <p class="sizes__variants-item" data-multiplier="1.3">50x40</p>
        <p class="sizes__variants-item" data-multiplier="1.4">60x40</p>
        <p class="sizes__variants-item" data-multiplier="1.5">60x50</p>
        <p class="sizes__variants-item" data-multiplier="1.6">70x50</p>
        <p class="sizes__variants-item" data-multiplier="1.7">75x50</p>
        <p class="sizes__variants-item" data-multiplier="1.8">80x60</p>
        <p class="sizes__variants-item" data-multiplier="1.9">90x60</p>
        <p class="sizes__variants-item" data-multiplier="2">100x70</p>
        <p class="sizes__variants-item" data-multiplier="2.1">120x80</p>
        <p class="sizes__variants-item" data-multiplier="2.2">30x30</p>
        <p class="sizes__variants-item" data-multiplier="2.3">40x40</p>
        <p class="sizes__variants-item" data-multiplier="2.4">50x50</p>
        <p class="sizes__variants-item" data-multiplier="2.5">60x60</p>
        <p class="sizes__variants-item" data-multiplier="2.6">80x80</p>
        <p class="sizes__variants-item" data-multiplier="2.7">100x100</p>
        <p class="sizes__variants-item" data-multiplier="2.8">30x90</p>
        <p class="sizes__variants-item" data-multiplier="2.9">40x100</p>
        <p class="sizes__variants-item" data-multiplier="3">40x120</p>
      </div>
    </div>
  </div>

  <!-- modal -->
  <div class="pop-up">
    <img
      loading="lazy"
      src="../img/svg/close_icon.svg"
      class="pop-up__close-icon"
      width="15"
      height="15"
      alt="close_icon"
    />
    <form class="pop-up__form">
      <label>
        <input
          class="input-reset pop-up__form-input"
          type="text"
          placeholder="Введите имя"
        />
      </label>
      <label>
        <input
          inputmode="numeric"
          class="input-reset pop-up__form-input"
          type="tel"
          placeholder="Введите телефон"
        />
      </label>
      <p class="pop-up__form-summary">
        Итоговая стоимость заказа: <span>0 руб.</span>
      </p>
      <button class="btn-reset pop-up__form-button" type="button">
        Оформить заказ
      </button>
    </form>
  </div>
  <!-- modal -->
</section>
