<section class="sizes">
  <div class="sizes-content container section-offset">
    <h2
      class="section-title sizes__title"
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-duration="1000"
      data-aos-delay="50"
      data-aos-once="true"
    >
      Размеры и цены
    </h2>
    <div class="sizes__descr">
      <p
        data-aos="fade-right"
        data-aos-offset="200"
        data-aos-duration="1000"
        data-aos-delay="150"
        data-aos-once="true"
      >
        Вы можете выбрать из 25 стандартных размеров, отсортированных по типу
        ориентации или сделать заказ по своим размерам. Для печати мы используем
        плоттер Canon image PROGRAF iPF9400 и дополнительное оборудование, такое
        как станок для скрепления углов рам U-200 и гильотина Morso H. Цена
        включает печать на качественном хлопковом холсте, подрамник и натяжку
        холста на него.
      </p>
      <div
        class="sizes__swiper"
        data-aos="fade-left"
        data-aos-offset="200"
        data-aos-duration="1000"
        data-aos-delay="150"
        data-aos-once="true"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="sizes__slide-cover"></div>
            <picture class="sizes__picture">
              <source srcset="img/sizes-slide.webp" type="image/webp" />
              <img src="img/sizes-slide.jpg" class="sizes__image" alt="Идея" />
            </picture>
          </div>
          <div class="swiper-slide">
            <div class="sizes__slide-cover"></div>
            <picture class="sizes__picture">
              <source srcset="img/sizes-slide.webp" type="image/webp" />
              <img src="img/sizes-slide.jpg" class="sizes__image" alt="Идея" />
            </picture>
          </div>
          <div class="swiper-slide">
            <div class="sizes__slide-cover"></div>
            <picture class="sizes__picture">
              <source srcset="img/sizes-slide.webp" type="image/webp" />
              <img src="img/sizes-slide.jpg" class="sizes__image" alt="Идея" />
            </picture>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="sizes__prev-btn">
          <svg class="">
            <use xlink:href="img/sprite.svg#slider_arrow_prev"></use>
          </svg>
        </div>
        <div class="sizes__next-btn">
          <svg class="">
            <use xlink:href="img/sprite.svg#slider_arrow_next"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div
    class="sizes__calc"
    data-aos="fade-left"
    data-aos-offset="200"
    data-aos-duration="1000"
    data-aos-delay="150"
    data-aos-once="true"
  >
    <div class="sizes__calc-content container">
      <div class="sizes__format">
        <p class="sizes__format-title">Укажите формат</p>
        <div class="sizes__format-variants">
          <label class="sizes__format-variant">
            <input type="radio" name="format" value="2" />
            Альбомный
          </label>
          <label class="sizes__format-variant">
            <input type="radio" name="format" value="2" />
            Портретный
          </label>
          <label class="sizes__format-variant">
            <input type="radio" name="format" value="0.5" />
            Панорамный
          </label>
          <label class="sizes__format-variant">
            <input type="radio" name="format" value="1" />
            Квадратный
          </label>
        </div>
        <div class="sizes__format-select">
          <select
            class="select-reset custom-select sizes__select"
            name="size-first"
          >
            <option value="1" data-price="0">Выберите размер</option>
            <option value="40x30" data-price="1300">40x30</option>
            <option value="45x30" data-price="1400">45x30</option>
            <option value="50x40" data-price="1600">50x40</option>
            <option value="60x40" data-price="1800">60x40</option>
            <option value="60x50" data-price="2000">60x50</option>
            <option value="70x50" data-price="2200">70x50</option>
            <option value="75x50" data-price="2300">75x50</option>
            <option value="80x60" data-price="2600">80x60</option>
            <option value="90x60" data-price="2900">90x60</option>
            <option value="100x70" data-price="3300">100x70</option>
            <option value="120x80" data-price="4000">120x80</option>
            <option value="30x30" data-price="1100">30x30</option>
            <option value="40x40" data-price="1400">40x40</option>
            <option value="50x50" data-price="1800">50x50</option>
            <option value="60x60" data-price="2200">60x60</option>
            <option value="80x80" data-price="3100">80x80</option>
            <option value="100x100" data-price="4100">100x100</option>
            <option value="30x90" data-price="2100">30x90</option>
            <option value="40x100" data-price="2500">40x100</option>
            <option value="40x100" data-price="2900">40x120</option>
          </select>
          <img
            loading="lazy"
            src="../img/chevron_for_select.svg"
            class="image"
            width="16"
            height="16"
            alt="шеврон"
          />
        </div>
        <p class="sizes__format-final pop-up__button">0 руб.</p>
      </div>
      <div class="sizes__variants">
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="40x30"
            data-price="1300"
          />
          40x30
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="45x30"
            data-price="1400"
          />
          45x30
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="50x40"
            data-price="1600"
          />
          50x40
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="60x40"
            data-price="1800"
          />
          60x40
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="60x50"
            data-price="2000"
          />
          60x50
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="70x50"
            data-price="2200"
          />
          70x50
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="75x50"
            data-price="2300"
          />
          75x50
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="80x60"
            data-price="2600"
          />
          80x60
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="90x60"
            data-price="2900"
          />
          90x60
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="100x70"
            data-price="3300"
          />
          100x70
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="120x80"
            data-price="4000"
          />
          120x80
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="30x30"
            data-price="1100"
          />
          30x30
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="40x40"
            data-price="1400"
          />
          40x40
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="50x50"
            data-price="1800"
          />
          50x50
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="60x60"
            data-price="2200"
          />
          60x60
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="80x80"
            data-price="3200"
          />
          80x80
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="100x100"
            data-price="4500"
          />
          100x100
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="30x90"
            data-price="2100"
          />
          30x90
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="40x100"
            data-price="2400"
          />
          40x100
        </label>
        <label class="sizes__variants-item">
          <input
            type="radio"
            name="size-first"
            value="40x120"
            data-price="2900"
          />
          40x120
        </label>
      </div>
    </div>
  </div>

  <!-- modal -->
  <div class="pop-up">
    <img
      loading="lazy"
      src="../img/svg/close_icon.svg"
      class="pop-up__close-icon"
      width="15"
      height="15"
      alt="close_icon"
    />
    <form class="pop-up__form">
      <label>
        <input
          class="input-reset pop-up__form-input"
          type="text"
          placeholder="Введите имя"
        />
      </label>
      <label>
        <input
          inputmode="numeric"
          class="input-reset pop-up__form-input"
          type="tel"
          placeholder="Введите телефон"
        />
      </label>
      <p class="pop-up__form-summary">
        Итоговая стоимость заказа: <span>0 руб.</span>
      </p>
      <button class="btn-reset pop-up__form-button" type="button">
        Оформить заказ
      </button>
    </form>
  </div>
  <!-- modal -->
</section>
