<section class="summary">
  <div class="summary__content section-offset container">
    <h2
      class="section-title summary__title"
      data-aos="fade-up"
      data-aos-offset="50"
      data-aos-delay="150"
      data-aos-duration="1500"
      data-aos-once="true"
    >
      Изготовление картин по фото на холсте
    </h2>
    <div
      class="summary__descr"
      data-aos="fade-right"
      data-aos-offset="500"
      data-aos-delay="450"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      <p>
        Наша мастерская в Москве специализируется на изготовлении портретов и
        картин по фото на холсте. Все, что вам нужно, - предоставить нам
        фотографию, а наши мастера превратят ее в великолепный рисунок на
        холсте.
      </p>
      <p>
        Цена зависит от выбранного вами размера холста и вида подрамника. Мы
        умеем работать не только с портретами, но и с пейзажами, животными,
        абстракцией и любыми другими изображениями. Более того, у нас можно
        заказать не только печать на холстах, но и натяжку уже готового
        изображения на подрамник.
      </p>
      <p>
        С нашей услугой вы сможете держать свои драгоценные моменты не только в
        сердце, но и видеть их каждый день на стенах своего дома или офиса. А
        также они станут отличным подарком для ваших близких и друзей.
      </p>
      <p>
        Мы предлагаем доставку по Москве и всей России. Ваши заказы будут
        аккуратно упакованы и доставлены в течение нескольких дней. Если вы
        находитесь в Москве, вы можете воспользоваться услугой "заказ на
        сегодня", и мы привезем вашу картину в тот же день.
      </p>
      <p>
        Наша миссия - сделать искусство доступным для всех Печать на холстах по
        фото - это возможность каждому окунуться в мир большой живописи, не
        выходя из дома. "Печать на Холстах" - это не просто фотохолст, это
        искусство, которое живет и дышит Заказывая у нас, вы получаете не просто
        изображение на холсте, а произведение искусства, выполненное с любовью и
        мастерством
      </p>
      <p>
        Мы ждем ваших заказов и обещаем превратить ваши любимые фотографии в
        великолепные картины на холсте. Присоединяйтесь к нашим довольным
        клиентам, и пусть искусство войдет в вашу жизнь!
      </p>
    </div>
    <button
      class="btn-reset summary__button"
      data-aos="fade-left"
      data-aos-offset="50"
      data-aos-delay="450"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      Развернуть
    </button>
  </div>
</section>
