<div class="section-wrapper">
  <section class="testimonials">
    <div class="testimonials__content section-offset container">
      <h2
        class="section-title testimonials__title"
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        Отзывы наших клиентов
      </h2>
      <picture
        class="testimonials__picture"
        data-aos="fade-right"
        data-aos-offset="200"
        data-aos-delay="250"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <source
          srcset="img/testimonials_decore-left-bottom.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="img/testimonials_decore-left-bottom.png"
          class="testimonials__img"
          alt="отзывы клиентов"
        />
      </picture>
      <div
        class="testimonials__descr"
        data-aos="fade-left"
        data-aos-offset="200"
        data-aos-delay="450"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <p>
          Добро пожаловать в мастерскую "Печать на Холстах". Мы предлагаем
          качественную фотопечать на холсте, уникальную услугу, которая
          перенесет ваши любимые фото на тканевые полотна, превращая их в
          истинные произведения искусства.
        </p>
        <p>
          Заказать фотографию на картине на холсте стало намного проще, с
          помощью нашего онлайн- сервиса вы сможете быстро и недорого сделать
          заказ, не вставая из-за компьютера. Достаточно загрузить свою
          фотографию, выбрать размер холста и подрамник и мы приступим к работе.
        </p>
      </div>
      <div
        class="testimonials__button-wrapper"
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="650"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <a href="#" class="btn-reset testimonials__button">Посмотреть отзывы</a>
      </div>
    </div>
  </section>
</div>
