<section class="testimonials">
  <div class="testimonials__content section-offset container">
    <h2 class="section-title testimonials__title">Отзывы наших клиентов</h2>
    <div class="testimonials__descr">
      <p>
        Добро пожаловать в мастерскую "Печать на Холстах". Мы предлагаем
        качественную фотопечать на холсте, уникальную услугу, которая перенесет
        ваши любимые фото на тканевые полотна, превращая их в истинные
        произведения искусства.
      </p>
      <p>
        Заказать фотографию на картине на холсте стало намного проще, с помощью
        нашего онлайн- сервиса вы сможете быстро и недорого сделать заказ, не
        вставая из-за компьютера. Достаточно загрузить свою фотографию, выбрать
        размер холста и подрамник и мы приступим к работе.
      </p>
      <a href="#" class="btn-reset testimonials__button">Посмотреть отзывы</a>
    </div>
  </div>
</section>
